{% load staticfiles %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">


    <link rel="stylesheet" href=" {% static "System/css/Login-Form-Clean-1.css" %} " >
    <link rel="stylesheet" href=" {% static "System/css/styles.css" %} " >
    <link rel="stylesheet" href="{% static "System/css/Login-Form-Clean-1.css" %}">

</head>

<body style="height:660px;">
{% if user.is_authenticated %}
    <div class="container">
        <div>
            <div class="container">
                <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mnav">
                    <div class="container-fluid"><a class="navbar-brand" href="{% url 'system:Home' %}" style="color:rgba(255,255,255,0.9);">MCA Department Placement System</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div
                            class="collapse navbar-collapse float-right justify-content-end" id="navcol-1" style="color:rgb(255,255,255);">
                            <ul class="nav navbar-nav">
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:rgba(255,255,255,0.5);">
                                    Welcome, {{request.user.first_name}} {{request.user.last_name}}
                                  </a>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'system:generateProfile' %}">Profile</a>
                                    <a class="dropdown-item" href="{% url 'system:logout' %}">Logout</a>
                                  </div>
                                </li>

                            </ul>
                    </div>
            </div>
            </nav>
        </div>
    </div>
    </div>
    <div id="block" class="login-clean" style="padding-top: 120px;height:600px;margin-top: 40px">
        <div class="container">
            <form data-aos="fade" method="post" action="{%  url 'system:profile' %}" data-aos-duration="700" id="mainform" style="max-width:400px;margin-top:-88px;height:950px;">
                {% csrf_token %}
                <div class="form-group"><input class="form-control" type="hidden" id="email_id" name="email_id" placeholder="PG Marks Agg." autocomplete = "off" value="{{request.user.email}}"></div>
                <div class="illustration"><i class="typcn typcn-user" data-aos="fade" data-aos-duration="900" style="color:#e91e63;padding-top: 40px"></i></div>
                <br>
                <div class="form-group"> <select class="form-control" name = "year" id = "year"> <option value="FY"> FY </option> <option value="SY"> SY </option> <option value="TY"> TY </option>  </select></div>
                <div class="form-group"> <select class="form-control" name = "shift" id = "shift"> <option value="Shift I"> Shift I </option> <option value="Shift II"> Shift II </option></select></div>
                <div class="form-group"><input class="form-control" type="text" id="ssc" onkeyup="validatePercentage(this.id)" name="ssc" required="" placeholder="SSC Marks" autocomplete = "off"></div>
                <div class="form-group"><input class="form-control" type="text" id="hsc" onkeyup="validatePercentage(this.id)" name="hsc" required="" placeholder="HSC Marks" autocomplete = "off"></div>
                <div class="form-group"> <select class="form-control" name = "ug_stream" id = "ug_stream"> <option value="BSC CS"> BSC CS </option> <option value="BSC IT"> BSC IT </option>  <option value="Other"> OTHER </option>   </select></div>
                <div class="form-group"><input class="form-control" type="text" id="ug" name="ug" onkeyup="validatePercentage(this.id)" required="" placeholder="UG Marks Agg." autocomplete = "off"></div>
                <div class="form-group"><input class="form-control" type="text" id="mca_sem1" name="mca_sem1" onkeyup="validatePercentage(this.id)" placeholder="PG Sem 1 Marks" autocomplete = "off"></div>
                <div class="form-group"><input class="form-control" type="text" id="mca_sem2" name="mca_sem2" onkeyup="validatePercentage(this.id)" placeholder="PG Sem 2 Marks" autocomplete = "off"></div>
                <div class="form-group"><input class="form-control" type="text" id="mca_sem3" name="mca_sem3" onkeyup="validatePercentage(this.id)" placeholder="PG Sem 3 Marks" autocomplete = "off"></div>
                <div class="form-group"><input class="form-control" type="text" id="mca_sem4" name="mca_sem4" onkeyup="validatePercentage(this.id)" placeholder="PG Sem 4 Marks" autocomplete = "off"></div>
                <div class="form-group"><input class="form-control" type="text" id="mca_sem5" name="mca_sem5" onkeyup="validatePercentage(this.id)" placeholder="PG Sem 5 Marks" autocomplete = "off"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" id = "save" style="background-color:rgb(233,30,99); ">Save Profile</button></div>

            </form>
        </div>
    </div>
    <script src=" {% static "System/js/jquery.min.js" %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src=" {% static "System/js/bs-animation.js" %} "></script>
    <script src=" {% static "System/js/popper.min.js" %} "></script>
    <script src=" {% static "System/js/validation.js" %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script>
    function calagg() {

            mca1 = document.getElementById("mca_sem1").value;
            mca2 = document.getElementById("mca_sem2").value;
            mca3 = document.getElementById("mca_sem3").value;
            mca4 = document.getElementById("mca_sem4").value;
            mca5 = document.getElementById("mca_sem5").value;



            if (mca1 == "")
            {

                document.getElementById("mcaagg").value = ""
            }

            if (mca2 == "")
            {
                document.getElementById("mcaagg").value = "";
                total = parseInt(mca1);

                document.getElementById("mcaagg").value = total;
            }
            if (mca3 === '' && mca4 === '' && mca5 ==='')
            {

                document.getElementById("mcaagg").value = "";
                var total = parseFloat(mca1)+parseFloat(mca2);
                var agg = parseFloat((total / 2 ) * 100);
                alert(agg);
                document.getElementById("mcaagg").value = agg;
            }
            if(mca4 == "")
            {
                document.getElementById("mcaagg").value = "";
                total = parseInt(mca1)+parseInt(mca2)+parseInt(mca3);
                agg = (total / 3 ) * 100;
                document.getElementById("mcaagg").value = total;
            }
            if(mca5 == "")
            {
                document.getElementById("mcaagg").value = "";
                total = parseInt(mca1)+parseInt(mca2)+parseInt(mca3)+parseInt(mca4);
                agg = (total / 4 ) * 100;
                document.getElementById("mcaagg").value = total;
            }


    }
    </script>
{%  else  %}

    <body onload="clickerror()">
     <button id = "error" onclick="f()"> </button>
    <form action="{% url 'system:Home' %}" onload="f()" method="post">
    {% csrf_token %}
    <input type="submit" id="save" hidden>
    </form>

    <script>
        function clickerror() {
            document.getElementById('error').click();
            document.getElementById('save').click();
        };

        function f() {
            alert("You don't have right to access this page !");
        };


    </script>
</body>
    </body>

{% endif %}



</html>